In [6]:
import pandas as pd

In [9]:
BUCKET_NAME = 'otg-fraud-dataml-prod'

In [12]:
import boto3
s3 = boto3.client('s3')

In [13]:
# file_path = "raw_views"
file_path = "source_views"
response = s3.list_objects_v2(Bucket=BUCKET_NAME, Prefix=file_path)
if 'Contents' in response:
    for obj in response['Contents']:
        print(obj['Key'])

source_views/v_order_details/year=2023/month=01/v_order_details_2024_06_000.csv
source_views/v_order_details/year=2023/month=05/v_order_details_2023_05_000.csv
source_views/v_order_details/year=2023/month=06/v_order_details_2023_06_000
source_views/v_order_details/year=2023/month=06/v_order_details_2023_06_000.CSV
source_views/v_order_details/year=2023/month=06/v_order_details_2023_06_000.csv
source_views/v_order_details/year=2023/month=07/v_order_details_2023_07_000.csv
source_views/v_order_details/year=2023/month=08/v_order_details_2023_08_000.csv
source_views/v_order_details/year=2023/month=09/v_order_details_2023_09_000.csv
source_views/v_order_details/year=2023/month=10/v_order_details_2023_10_000.csv
source_views/v_order_details/year=2023/month=11/v_order_details_2023_11_000.csv
source_views/v_order_details/year=2023/month=12/v_order_details_2023_12_000.csv
source_views/v_order_details/year=2024/month=01/v_order_details_2024_01_000.csv
source_views/v_order_details/year=2024/month=02/v_order_details_2024_02_000.csv
source_views/v_order_details/year=2024/month=03/v_order_details_2024_03_10000.csv
source_views/v_order_details/year=2024/month=03/v_order_details_2024_03_20000.csv
source_views/v_order_details/year=2024/month=03/v_order_details_2024_03_25000.csv
source_views/v_order_details/year=2024/month=03/v_order_details_2024_03_26000.csv
source_views/v_order_details/year=2024/month=03/v_order_details_2024_03_266000.csv
source_views/v_order_details/year=2024/month=03/v_order_details_2024_03_31000.csv
source_views/v_order_details/year=2024/month=04/v_order_details_2024_04_000.csv
source_views/v_order_details/year=2024/month=05/v_order_details_2024_05_000.csv
source_views/v_order_details/year=2024/month=06/v_order_details_2024_06_000.csv
source_views/v_order_details/year=2024/month=07/v_order_details_2024_07_000.csv
source_views/v_order_details/year=2024/month=08/v_order_details_2024_08_000.csv
source_views/v_order_details/year=2024/month=09/v_order_details_2024_09_000.csv
source_views/v_order_details/year=2024/month=10/v_order_details_2024_10_000.csv
source_views/v_order_details/year=2024/month=11/v_order_details_2024_11_000.csv
source_views/v_order_details/year=2024/month=12/v_order_details_2024_12_000.csv
source_views/v_payment_details/daily/2024/10/17/lacm_000.csv
source_views/v_payment_details/daily/2024/10/18/lacm_000.csv
source_views/v_payment_details/daily/2024/10/21/lacm_000.csv
source_views/v_payment_details/daily/2024/10/7/lacm_000.csv
source_views/v_payment_details/daily/year=2024/month=10/day=22/20241022090638_lacm_000.csv
source_views/v_payment_details/daily/year=2024/month=10/day=22/20241022094756_lacm_000.csv
source_views/v_payment_details/daily/year=2024/month=10/day=23/20241023081819_lacm_000.csv
source_views/v_payment_details/daily/year=2024/month=10/day=24/20241024000054_lacm_000.csv
source_views/v_payment_details/monthly/2024/10/17/lacm_000.csv
source_views/v_payment_details/monthly/2024/10/18/lacm_000.csv
source_views/v_payment_details/monthly/2024/10/21/lacm_000.csv
source_views/v_payment_details/monthly/year=2024/month=10/day=22/20241022090638_lacm_000.csv
source_views/v_payment_details/monthly/year=2024/month=10/day=22/20241022094756_lacm_000.csv
source_views/v_payment_details/monthly/year=2024/month=10/day=23/20241023081819_lacm_000.csv
source_views/v_payment_details/monthly/year=2024/month=10/day=23/20241023083814_lacm_000.csv
source_views/v_payment_details/monthly/year=2024/month=10/day=23/20241023085008_lacm_000.csv
source_views/v_payment_details/monthly/year=2024/month=10/day=24/20241024000054_lacm_000.csv
source_views/v_payment_details/year=2023/month=05/v_payment_details_2023_05_000.csv
source_views/v_payment_details/year=2023/month=06/v_payment_details_2023_06_000.csv
source_views/v_payment_details/year=2023/month=07/v_payment_details_2023_07_000.csv
source_views/v_payment_details/year=2023/month=08/v_payment_details_2023_08_000.csv
source_views/v_payment_details/year=2023/month=09/v_payment_details_2023_09_000.csv
source_views/v_payment_details/year=2023/month=10/v_payment_details_2023_10_000.csv
source_views/v_payment_details/year=2023/month=11/v_payment_details_2023_11_000.csv
source_views/v_payment_details/year=2023/month=12/v_payment_details_2023_12_000.csv
source_views/v_payment_details/year=2024/month=01/v_payment_details_2024_01_000.csv
source_views/v_payment_details/year=2024/month=02/v_payment_details_2024_02_000.csv
source_views/v_payment_details/year=2024/month=03/v_payment_details_2024_03_000.csv
source_views/v_payment_details/year=2024/month=04/v_payment_details_2024_04_000.csv
source_views/v_payment_details/year=2024/month=05/v_payment_details_2024_05_000.csv
source_views/v_payment_details/year=2024/month=06/v_payment_details_2024_06_000.csv
source_views/v_payment_details/year=2024/month=07/v_payment_details_2024_07_000.csv
source_views/v_payment_details/year=2024/month=08/v_payment_details_2024_08_000.csv
source_views/v_payment_details/year=2024/month=09/v_payment_details_2024_09_000.csv
source_views/v_payment_details/year=2024/month=10/v_payment_details_2024_10_000.csv
source_views/v_payment_details/year=2024/month=11/v_payment_details_2024_11_000.csv
source_views_airflow/v_order_details/year=2023/month=05/v_order_details_2023_05_000.csv

In [7]:
data = pd.read_csv('s3://otg-fraud-dataml-prod/acm/daily/year=2024/month=6/day=1/acm_test.csv')

/tmp/ipykernel_335/1895021814.py:1: DtypeWarning: Columns (60) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('s3://otg-fraud-dataml-prod/acm/daily/year=2024/month=6/day=1/acm_test.csv')

In [8]:
data.head()

,bus_date,pos_venue_id,order_id,transaction_id,device_order_id,time_zone,order_local_time,sales_hr,ord_beg_time,ord_close_time,...,card_type,payment_type,transaction_seq_nu,cash_recycler_tiny_code,payment_amount,account_id,payment_amt_rewards_points,voucher_number,emp_email,is_fraud
0,2024-06-01,1113,151766878,NaN,240601016000058,America/New_York,2024-06-01 07:06:46,7,2024-06-01 11:06:46,2024-06-01 11:06:46,...,VISA,CARD,1.0,NaN,25.36,NaN,NaN,NaN,NaN,0
1,2024-06-01,1140,151766882,NaN,A0000868317172382338402,America/New_York,2024-06-01 07:06:54,7,2024-06-01 11:06:54,2024-06-01 11:06:54,...,NaN,CASH,1.0,NaN,1.00,NaN,NaN,NaN,NaN,0
2,2024-06-01,1145,151766886,NaN,A0000928717172398886270,America/New_York,2024-06-01 07:07:00,7,2024-06-01 11:07:00,2024-06-01 11:07:00,...,AMERICAN EXPRESS,CARD,1.0,NaN,19.20,NaN,NaN,NaN,NaN,0
3,2024-06-01,1140,151766889,NaN,A0000031317172399461036,America/New_York,2024-06-01 07:06:55,7,2024-06-01 11:06:55,2024-06-01 11:06:55,...,AMERICAN EXPRESS,CARD,1.0,NaN,12.73,NaN,NaN,NaN,NaN,0
4,2024-06-01,1150,151766917,NaN,A0000829117172397700870,America/New_York,2024-06-01 07:07:24,7,2024-06-01 11:07:24,2024-06-01 11:07:24,...,VISA,CARD,1.0,NaN,10.43,NaN,NaN,NaN,NaN,0